:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --angular1: #f06965;
    --angular2: #d7d69e;
    --react1: #c1f1fd;
    --react2: #fcfdc1;
    --php1: #efb2fb;
    --php2: #acc6f8;
    --laravel1: #fda69b;
    --laravel2: #9beefd;
    --ionic1: #abc9ff;
    --ionic2: #d6abff;
    --vue1: #95dabb;
    --vue2: #6084a7;
}

.card {
    width: 71.5vw;
    height: 100vw;
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    border-radius: 5%/3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
        -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
        0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-color: #040712;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
}

.disable-touch {
    touch-action: none;
}

@media screen and (min-width: 600px) {
    .card {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
    }
}

.card:hover {
    box-shadow: -20px -20px 30px -25px var(--color1),
        20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
        7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.angular {
    --color1: var(--angular1);
    --color2: var(--angular2);
}

.card.react {
    --color1: var(--react1);
    --color2: var(--react2);
}

.card.laravel {
    --color1: var(--laravel1);
    --color2: var(--laravel2);
}

.card.wordpress {
    --color1: #ec9bb6;
    --color2: #ccac6f;
    --color3: #69e4a5;
    --color4: #8ec5d6;
    --color5: #b98cce;
}

.card.ionic {
    --color1: var(--ionic1);
    --color2: var(--ionic2);
}

.card.vue {
    --color1: var(--vue1);
    --color2: var(--vue2);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        var(--color1) 25%,
        transparent 47%,
        transparent 53%,
        var(--color2) 75%,
        transparent 100%
    );
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
}

.card:after {
    opacity: 1;
    background-image: url("@assets/images/sparkles.gif"),
        url(@assets/images/holo.webp),
        linear-gradient(
            125deg,
            #ff008450 15%,
            #fca40040 30%,
            #ffff0030 40%,
            #00ff8a20 60%,
            #00cfff40 70%,
            #cc4cfa50 85%
        );
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
}

.card.active,
.card:hover {
    -webkit-animation: none;
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    -webkit-animation: none;
    animation: none;
    background-image: linear-gradient(
        110deg,
        transparent 25%,
        var(--color1) 48%,
        var(--color2) 52%,
        transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.88;
    filter: brightness(0.66) contrast(1.33);
    transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    -webkit-animation: none;
    animation: none;
    transition: none;
}

.card.animated {
    transition: none;
    -webkit-animation: holoCard 12s ease 0s 1;
    animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
    transition: none;
    -webkit-animation: holoGradient 12s ease 0s 1;
    animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
    transition: none;
    -webkit-animation: holoSparkle 12s ease 0s 1;
    animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
    0%,
    100% {
        opacity: 0.75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }
    5%,
    8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(0.8) contrast(1.2);
    }
    13%,
    16% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(0.8);
    }
    35%,
    38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }
    55% {
        opacity: 0.33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoSparkle {
    0%,
    100% {
        opacity: 0.75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }
    5%,
    8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(0.8) contrast(1.2);
    }
    13%,
    16% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(0.8);
    }
    35%,
    38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }
    55% {
        opacity: 0.33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}
@-webkit-keyframes holoGradient {
    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(0.5) contrast(1);
    }
    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
    13%,
    17% {
        background-position: 0% 0%;
        opacity: 0.88;
    }
    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.5) contrast(1);
    }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
}
@keyframes holoGradient {
    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(0.5) contrast(1);
    }
    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
    13%,
    17% {
        background-position: 0% 0%;
        opacity: 0.88;
    }
    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.5) contrast(1);
    }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
}
@-webkit-keyframes holoCard {
    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}
@keyframes holoCard {
    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}
.card.wordpress:hover {
    box-shadow: 0 0 30px -5px white, 0 0 10px -2px white,
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.wordpress:hover:before,
.card.wordpress.active:before {
    background-image: linear-gradient(
        115deg,
        transparent 20%,
        var(--color1) 36%,
        var(--color2) 43%,
        var(--color3) 50%,
        var(--color4) 57%,
        var(--color5) 64%,
        transparent 80%
    );
}

.cards {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    justify-content: center; /* Centra los elementos en la fila */
    align-items: center;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .cards {
        flex-direction: row;
    }
}

.border-text {
    font-size: 24px; /* Tamaño del texto */
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 1),
        1px -1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1),
        1px 1px 0 rgba(255, 255, 255, 1);
}

.hexagon {
    width: 100%;
    aspect-ratio: 1 / cos(40deg); /* Ajusta la relación de aspecto */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
    z-index: 2;
}

.proj-title {
    position: absolute;
    bottom: 10px;
    height: 35px;
    clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%, 0 30px, 0 5px);
    background-color: rgba(4, 7, 18, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(4, 7, 18);
}

.proj-thumb {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Ajusta la posición para centrar */
}

/* animacion de ingreso de los card */
.fade-in {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeIn 0.1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* animacion de salida de los card */
.fade-out {
    opacity: 1;
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
